@import "tailwindcss";
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

/* Login-page-css */
.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    border-radius: 20px;
    padding: 5vh 5vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}

.input-wrapper {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    width: 20vw;
    height: 4vh;
    padding: 0.5vw;
    border: 2px solid black;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.input-container {
    border: none;
    outline: none;
    color: grey;
}
.input-icon{
    color: gray;
    margin: 2px;
}
.submit-button{
    outline: none;
    border: none;
    color: white;
    width: 10vw;
    height: 6vh;
    font-size: 1vw;
    border-radius: 10px;
    background-color:#ff9966;
}